.service-area-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background: #f3ede1;
    padding: 0;
}

.service-area-menu ul li {
    display: inline-block;
    padding: 10px 0;
    text-align: center;
}

.service-area-menu li a {
    text-align: center;
    padding: 12px 81px;
    color: #f3ede1;
    display: inline-block;
    width: 100%;
}

.service-area-menu li:last-child a {
    border-right: none;
}

.service-area-menu li a.active,
.service-area-menu li a:hover {
    background: #4e7b72;
    color: #f3ede1;
}

/* CENTRAR TODO EL CONTENIDO DE CEREMONY */
.Ceremony-wrap {
    margin-top: 30px;
    background: #f3ede1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
}

.ceromony-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra todo el contenido */
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center; /* Centra texto */
}

.ceromony-content h3,
.ceromony-content span,
.ceromony-content p {
    text-align: center;
}

.ceromony-content .location-btn {
    color: #a5823e;
    font-weight: 600;
    display: inline-block;
    max-width: 200px;
    padding: 0;
    text-align: center;
    background: none;
    margin: 16px auto;
}

.ceromony-content .btn.location-btn:hover {
    background: none!important;
    color: #b2c2da;
}

.ceromony-content .location-btn:focus {
    box-shadow: none;
}

.ceromony-content span {
    display: block;
}

.ceromony-content p {
    padding: 20px 0;
    padding-right: 0;
    margin: 0 auto;
    max-width: 700px;
}

/* Responsive para móvil */
@media (max-width: 600px) {
    .service-area-menu ul {
        flex-direction: column;
    }
    .service-area-menu li a {
        padding: 12px 0;
    }
    .ceromony-content {
        padding: 0 10px;
    }
}