.service-area-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background: #f3ede1;
    padding: 0;
}

.service-area-menu ul li {
    display: inline-block;
    padding: 10px 0;
    text-align: center;
}

.service-area-menu li a {
    text-align: center;
    padding: 12px 81px;
    color: #f3ede1;
    display: inline-block;
    width: 100%;
}

.service-area-menu li:last-child a {
    border-right: none;
}

.service-area-menu li a.active,
.service-area-menu li a:hover {
    background: #4e7b72;
    color: #f3ede1;
}


.marco-dorado {
    border: 12px solid #c89b74;
    border-radius: 4px;    /* Opcional: bordes redondeados */
    box-sizing: border-box;
    background: #fff;       /* Opcional: fondo blanco detrás del borde */
    display: block;
    width: 100%;
    margin: 0 auto;
}
/* CENTRAR TODO EL CONTENIDO DE CEREMONY */
.Ceremony-wrap {
    margin-top: 30px;
    background: #f3ede1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
}

.ceromony-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra todo el contenido */
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center; /* Centra texto */
    margin-top: 5px;
}

.ceromony-content h3,
.ceromony-content span,
.ceromony-content p {
    text-align: center;
    color: #a5823e;
}

.ceromony-content .location-btn {
 display: flex;
    background: #ffe5c4;
    color: #a5823e;
    padding: 10px 20px;
    font-size: 10px;
    transition: all .3s;
    font-weight: 600;
    border-radius: 40px;
}

.ceromony-content .btn.location-btn:hover {
     background: #ffe5c4;
    color: #424242;
}

.ceromony-content .location-btn:focus {
    box-shadow: none;
}

.ceromony-content span {
    display: block;
}

.ceromony-content p {
    padding: 20px 0;
    padding-right: 0;
    margin: 0 auto;
    max-width: 700px;
    color: #a5823e;
}

/* Responsive para móvil */
@media (max-width: 600px) {
    .service-area-menu ul {
        flex-direction: column;
    }
    .service-area-menu li a {
        padding: 12px 0;
    }
    .ceromony-content {
        padding: 0 10px;
    }
}