.dress-code-area {
  padding: 20px 0;
  background-color: #f3ede1;
}

.section-titles h2 {
  font-family: 'seasons', sans-serif;
  font-size: 36px;
  color: #a5823e;
  margin-bottom: 20px;
   text-align: center;
}

.section-title p {
  font-family: 'itc', sans-serif;
  font-size: 16px;
  color: #a5823e;
  margin-bottom: 40px;
   text-align: center;
}
.dress-code-area .section-title::after {
  display: none !important;
  content: none !important;
}

.mujeres-separator {
  width: 220px;
  height: 2px;
  background: #a5823e;
  margin: 24px auto 24px auto;
  border-radius: 2px;
}
.dress-code-content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
   text-align: center;
   color: #a5823e;
}

.dress-code-section {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dress-code-section h3 {
  font-family: 'seasons', sans-serif;
  font-size: 24px;
  color: #a5823e;
  margin-bottom: 10px;
}

.dress-code-section p {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  color: #a5823e;
  margin-bottom: 15px;
}

.restricted-colors {
  list-style: none;
  padding: 0;
  margin: 0 0 15px;
}

.restricted-colors li {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  color: #a5823e;
  margin-bottom: 5px;
}

.dress-code-button {
   display: inline-block;
    background: #fff;
    color: #a5823e;
    padding: 10px 38px;
    font-size: 10px;
    transition: all .3s;
    font-weight: 600;
    border-radius: 40px;
    box-shadow: none;
}

.dress-code-button:hover {
  background-color: #ffe5c4;
   color: #2c2c2c;
}


.ceremony-wrap {
  margin-top: 50px;
  padding: 30px;

}

.ceremony-content {
  font-family: 'Muli', sans-serif;
  color: #a5823e;
}

.ceremony-content h3 {
  font-family: 'great vibes', sans-serif;
  font-size: 28px;
  color: #a5823e;
  margin-bottom: 15px;
}

.ceremony-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.location-btn {
  display: inline-block;
  padding: 10px 20px;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #b2c2da;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.location-btn:hover {
  background-color: #a5823e;
}

@media (max-width: 767px) {
  .section-title h2 {
    font-size: 26px !important;
    margin-bottom: 12px;
    padding: 0 8px;
  }
}