/*===============================
Story-Area
====================================*/

.story {
  position: relative;
  padding: 5em 0;
  margin-bottom: 2em;
}

.story-top,
.story-bottom {
  position: absolute;
  top: 40px;
  left: 50%;
  z-index: 20;
  margin-left: -23px;
}
.story-bottom {
  bottom: 0;
  top: auto;
}

.story-top:before,
.story-bottom:before {
  content: "\f10a";
  font-family: "Flaticon";
  position: absolute;
  top: -28px;
  left: 50%;
  z-index: 20;
  display: block;
  font-size: 50px;
  color: #a5823e;
}
.story-area.story-style-2 .story-top:before,
.story-area.story-style-2 .story-bottom:before {
  color: #f3ede1;
  opacity: 0.5;
}
.story-top:before {
  top: -3px;
}
.story .content-wrapper::before {
  content: "";
  position: absolute;
  top: 44px;
  left: 50%;
  height: 97%;
  width: 4px;
  background: #a5823e;
}
.story-area.story-style-2 .story .content-wrapper::before {
  background: #a5823e;
  opacity: 0.2;
}
.story .item {
  position: relative;
  clear: both;
  width: 50%;
}

.story .item,
.story .item *,
.story .item .story-content::before,
.story .item .story-content::after {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.story .item:not(:first-child) {
  margin-top: -250px;
}

.story .item .story-content {
  position: relative;
  width: 80%;
  padding: 35px;
  background: #c89b74;
  border: 2px solid #c89b74;
}

.story .item:nth-child(even) .story-content {
  margin-left: 20%;
}

.story .item .story-content:hover {
  background: #9c7553;
}
.story-area.story-style-2 .story .item .story-content:hover {
  background: #f3ede1;
}

.story .item .story-content > p,
.story .item .story-content img {
  margin: 0;
  width: 100%;
}
.story .item .story-content > p {
  margin-bottom: 20px;
}
.story a.story-btn {
  font-weight: 500;
  color: #c89b74;
  text-transform: uppercase;
  font-size: 17px;
}
.story .item:nth-child(odd) {
  float: left;
}

.item:nth-child(odd) .story-content::before,
.item:nth-child(odd) .story-content::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -4px;
  border: 15px solid transparent;
  border-color: transparent;
  border-left-color: #a5823e;
}

.item:nth-child(odd) .story-content::after {
  margin-top: -2px;
  margin-left: -1px;
  border: 13px solid transparent;
  border-left-color: #c89b74;
}

.item:nth-child(odd) .story-content:hover:after {
  border-left-color: #c89b74;
}

.story .item:nth-child(even) {
  float: right;
}

.item:nth-child(even) .story-content::before,
.item:nth-child(even) .story-content::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  left: -30px;
  margin-top: -4px;
  border: 15px solid transparent;
  border-color: transparent;
  border-right-color: #c89b74;
}

.item:nth-child(even) .story-content::after {
  margin-top: -2px;
  margin-right: -1px;
  border: 13px solid transparent;
  border-right-color: #c89b74;
}

.item:nth-child(even) .story-content:hover:after {
  border-right-color: #c89b74;
}
.item:nth-child(even) .story-area.story-style-2 .story-content:hover:after {
  border-right-color: #c89b74;
}

.story .story-content .image-wrap {
  margin-bottom: 30px;
}

.story .story-content h2 {
  margin-bottom: 2px;
   font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 40px;
  color: #fff;
}
.story-area.story-style-2 .story .story-content h2 {
  margin-bottom: 2px;
   font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 40px;
  color: #fff;
}

.story .story-content .btn-link {
  font-size: 12px;
}

.story .story-content .date {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: left;
  color: #fff;
  font-size: 18px;
  font-family: "Georgia", "Times New Roman", serif;
}

.story .item:nth-child(even) .story-content {
  text-align: right;
}
.story .item:nth-child(even) .story-content .date {
  text-align: right;
  left: -140%;
}
.btn2 a {
  background: #a5823e;
  color: #a5823e;
}
.story .story-icon {
  position: absolute;
  top: 50%;
  right: -30px;
  width: 60px;
  height: 60px;
  margin-left: -28px;
  text-align: center;
  font-size: 18px;
  line-height: 50px;
  border-radius: 50%;
  background: #a5823e;
  content: "\f108";
  font-family: "Flaticon";
  border: 5px solid #a5823e;
}
.story-area.story-style-2 .story .story-icon {
  position: absolute;
  top: 50%;
  right: -30px;
  width: 60px;
  height: 60px;
  margin-left: -28px;
  text-align: center;
  font-size: 18px;
  line-height: 60px;
  border-radius: 50%;
  background: #9a8c4061;
  content: "\f108";
  font-family: "Flaticon";
  border: 5px solid #0000003b;
}
.story-icon span:before {
  font-size: 30px;
  line-height: 30px;
  color: #a5823e;
}
.story-area.story-style-2 .story-icon span:before {
  color: #a5823e;
}
.story .item:nth-child(even) .story-icon {
  right: auto;
  left: 0;
}

.story .item:hover .story-icon span {
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.story .story-icon span:before {
  margin-left: 0px;
}

.story-area a.theme-btn {
  color: #333;
}
.story-area a.theme-btn:hover {
  color: #0b2839;
}

.story-area.story-style-2 a.theme-btn:hover {
  color: #c89b74;
}
.textp{
    color: #fff;
}
