.footer-area {
  background: url(../../images/footer/1.jpg) no-repeat center center / cover;
  padding: 100px 0;
  position: relative;
  z-index: 1;
}

.footer-area:before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
   filter: grayscale(1) brightness(0.5);
  z-index: -1;
  pointer-events: none;
}

.footer-content {
  margin: auto;
  text-align: center;
}

.content-sub {
  padding: 50px 80px;
  background: rgba(209, 157, 15, 0.699);
  display: inline-block;
  z-index: 99;
  position: relative;
}

.content-sub:before {
  position: absolute;
  content: "";
  left: -8px;
  top: -6px;
  width: 103%;
  height: 105%;
  border: 1px solid rgba(255,255,255, 0.4);
}

.content-sub h2 {
  font-size: 80px;
  font-family: 'Great Vibes', cursive;
  color: #fff;
}

.content-sub span {
  font-size: 30px;
  color: #dffff9;
}
