.section-title h2 {
    position: relative;
    font-size: 48px;
    font-family: 'Georgia', 'cursive', serif;
    margin-bottom: 0;
    color: #a8833b;
    padding-bottom: 20px;
 
    letter-spacing: 2px;
    font-weight: bold;
}

.section-title h2:after {
    content: "";
    display: block;
    margin: 18px auto 0 auto;
    width: 350px;
    height: 2px;
    background: #a8833b;
    position: relative;
}

.section-title {
    text-align: center;
}

@media (max-width: 767px) {
    .section-title h2 {
        margin-bottom: 12px !important; /* Asegura espacio para la línea */
        font-size: 28px;
        padding-bottom: 12px;
        position: relative;
    }
    .section-title h2:after {
        content: "";
        display: block;
        margin: 8px auto 0 auto;
        width: 120px;
        height: 2px;
        background: #a8833b;
        position: relative;
        opacity: 1; /* Asegura que sea visible */
        visibility: visible;
    }
}